<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% for data_name, data_val in data.items %}
{{ data_val | json_script:data_name }}
{% endfor %}

{% load static %}
{% for script_loc in script_locs %}
<script src="{% static script_loc %}"></script>
{% endfor %}

<script>
    var data = {};
{% for data_name in data %}
    data['{{ data_name }}'] = JSON.parse(document.getElementById('{{ data_name }}').textContent);
{% endfor %}

    var components = {};
    var methods = {};
{% for script_id in scripts %}
    const script = window['{{ script_id }}'].default;
    const scriptComponents = script.components;
    for (key in scriptComponents) {
        const name = scriptComponents[key].name || key;
        components[name] = scriptComponents[key];
    }
    Object.assign(methods, script.methods)
{% endfor %}
    
    window.pointofvue = new Vue({
        el: '#app',
        components: components,
        delimiters: ['${','}'],
        data: function() { return data; },
        methods: methods,
    });
</script>

